.text-framebyframe{
    color: #9c6644 !important;
}

.text-framebyframe1{
    color: #7f5539  !important;
}
.background-framebyframe{
    height: 100%;
    background-color: rgb(221,184,146,0.1);
}

html,body{
    height: 100%;
}

.full-height{
    height: 100%;
}